<html>

<head>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>

<body>
    <py-config trype="toml" src="./config.toml"></py-config>
    <py-script src="{{ entrypoint }}"> </py-script>

    <div id="body"></div>
</body>

</html>