<html>

<head>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <link rel="stylesheet" href="troubadour.css">
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>

<body>
    <py-config trype="toml" src="./config.toml"></py-config>
    <py-script src="{{ entrypoint }}"> </py-script>

    <div id="box">
        <div id="menu">
            <a id="export" href="#"><button>Export</button></a>
            <button> Import </button>
            <button id="reset"> Reset </button>
        </div>
        <div id="output"> </div>
    </div>
</body>

</html>