body {
    border: solid 2px green;
    margin: 5px auto 5px auto;
    width:600px;
}

#output {
    border: solid 2px red;
    margin: 5px;
    padding: 5px;
}

#input {
    border: solid 2px blue;
    margin: 5px;
    padding: 5px;
}