body {
    border: solid 2px green;
    margin: 15px auto 15px auto;
    width:600px;
    height: calc(100% - 30px);
}

#output {
    border: solid 2px red;
    margin: 5px;
    padding: 10px;
    height: calc(100% - 162px);
}

#input {
    border: solid 2px blue;
    margin: 5px;
    padding: 10px;
    height: 100px;
}