body {
    margin: 0px auto 0px auto;
    width:600px;
}

#output {
    border: solid 2px red;
    margin: 5px;
    padding: 10px;
    height: calc(100% - 162px);
    overflow: auto;
}

#input {
    border: solid 2px blue;
    margin: 5px;
    padding: 10px;
    height: 100px;
    text-align: center;
}

#input button {
    margin-left: 5px;
    margin-right: 5px;
}